@import "tailwindcss";

@layer base {
  body {
    background-color: #FCFCF9;
    color: #1A1A1A;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  h1, h2, h3, .font-serif {
    font-family: 'Newsreader', Georgia, Cambria, "Times New Roman", Times, serif;
  }

  code, pre, .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}
